@page "/"

<PageTitle>Home</PageTitle>

@if (showDetails)
{
    <div>
        <h3>User Details</h3>
        <p>Name: @userName</p>
        <p>Email: @userEmail</p>
        <p>name: @GetUsername()</p>
    </div>
}
@if (TestNum == 1)
{
    <p> Num is 1</p>
}
else
{
    <p> Num is not 1</p>
}
<button class="btn btn-primary" @onclick="ToggleDetails">Toggle Details</button>
<button class="btn btn-primary" @onclick="ChangeName">Change Name</button>

@code {
    bool showDetails = false;
    string userName = "Fatima Surraya";
    string userEmail = "fatimamughal651@gmail..com";
    private string GetUsername()
    {
        return userName;
    }

    private void ChangeName()
    {
        userName = "Princess";
    }
    private int TestNum = 1;

    void ToggleDetails()
    {
        showDetails = !showDetails;
    }
}